extends ../layout/login-layout
block content 
    .button-box-bottom
        a#btn-back.toggle-btn(href="/login", onclick='openLogin()')
            i.fas.fa-chevron-circle-left
            | Back
    h1.title Quên mật khẩu
    if success.length
        +alertSuccess(success)
        div.sent-forgot-password
            p.message Vui lòng kiếm tra email để tạo lại mật khẩu mới.
            a(href='/forgot-password').switch-login Nhập lại email

    if errors.length
        +alertError(errors)

    -var hideForm = success.length ? 'hide' : ''
    form#forgotPassword.form(class=hideForm, method="POST")
        -var invalidEmail = errorMessages && errorMessages['email'] ? 'invalid':''
        .input-group(class=invalidEmail)
            label(for='email')
                span.message #{errorMessages ? errorMessages['email'] : 'Email'}
            input#emailLogin.input-field(type='text', value=email ,name='email', placeholder='Eg: minhchiu@gmail.com')
        button.submit-btn Send
